<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="notification is-danger">
    {{ message }}
</div>
{% else %}
<div class="notification is-success">
    {{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<input type="text" autofocus="autofocus" style="display:none" />
<h2 class="title">
    Admin Page
</h2>

<br/>
<h2 align="left">Edit Leagues</h2>
<br/>

<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth has-text-left">
    <thead>
    <tr>
        <th>League Name</th>
        <th>PnKcoins Credit</th>
        <th>Current State</th>
        <th colspan="2">Upstage</th>
        <th>Modify</th>
        <th>Unset Categories</th>
    </tr>
    </thead>
    <tbody>
    {% for item in leagues %}
    <tr>
        <td style="color:#363636">{{item['name']}}</td>
        <td style="color:#363636">{{item['credit']}}</td>
        <td style="color:#363636;font-weight:bold">{{item['state']}}</td>
        <td>
            {% if item['state'] != 'finished' %}
            <form id="formstate{{item.id}}" action="/league/up" method="post"><input type="hidden" name="id"
                                                                                     value="{{item.id}}"/></form>
            {% endif %}
        </td>
        <td>
            {% if item['state'] != 'finished' %}
            <input class="button is-block is-info is-small is-danger" form="formstate{{item.id}}"
                   type="submit" name="up" value="{{item['next_state']}}"/>
            {% endif %}
        </td>
        <td>
            <a class="button is-link is-success is-small" href="/league/edit/{{item.id}}">Categories</a>
        </td>

        <td style="color:#363636;font-weight:bold">
            {% if item['state'] == 'blocked' %}
            {{item['unset']}}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br/>
<h2 align="left">User Information</h2>
<br/>


<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth has-text-left">
    <thead>
    <tr>
        <th>User Name</th>
        <th>PnKcoins</th>
        <th>Last Login</th>
        <th>Last Seen</th>
        <th>Email</th>
        <th>Dota Name</th>
        <th>Edit User</th>
    </tr>
    </thead>
    <tbody>
    {% for item in users %}
    <tr>
        <td style="color:#363636">{{item['name']}}</td>
        <td style="color:#363636">{{item['coins']}}</td>
        <td style="color:#363636">{{item['login']}}</td>
        <td style="color:#363636">{{item['seen']}}</td>
        <td style="color:#363636">{{item['email']}}</td>
        <td style="color:#363636">{{item['dota_name']}}</td>
        <td>
            <a class="button is-link is-success is-small" href="/admin/edit/{{item.id}}">Edit</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="columns">
  <div class="column">
    <p class="title">{{ amounts['scraps'] }}</p>
    <p class="subtitle">Scraps</p>
  </div>
  <div class="column">
    <p class="title">{{ amounts['votes'] }}</p>
    <p class="subtitle">Votes</p>
  </div>
  <div class="column">
    <p class="title">{{ amounts['achievements'] }}</p>
    <p class="subtitle">Achievements Earned</p>
  </div>
  <div class="column">
    <p class="title">{{ amounts['book'] }}</p>
    <p class="subtitle">Book Messages</p>
  </div>
</div>

<br/>
<h2 align="left">Recent Scraps</h2>
<br/>

<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth has-text-left">
    <thead>
    <tr>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for item in scraps %}
    <tr>
        <td style="color:#363636">{{item['created_at'].strftime("%Y-%m-%d %H:%M")}}</td>
        <td style="color:#363636">{{item['author_name']}}</td>
        <td style="color:#363636">{{item['profile_name']}}</td>
        <td style="color:#363636">{{item['message']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br/>
<h2 align="left">Achievements</h2>
<br/>

<form method="POST" action="/achievement/create">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>New Achievement</td>
            <td>
                <div class="control">
                    <input class="input is-small" name="hero_id" placeholder="Hero ID">
                </div>
            </td>
            <td>
                <div class="control">
                    <input class="input is-small" name="hero_name" placeholder="Hero name">
                </div>
            </td>
            <td>
                <div class="control">
                    <input class="input is-small" name="description" placeholder="Description">
                </div>
            </td>
            <td>
                <button class="button is-block is-info is-small is-fullwidth">Create</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth has-text-left">
    <thead>
    <tr>
        <th>ID</th>
        <th>Hero</th>
        <th>Description</th>
        <th>Earned by</th>
        <th colspan="4">Category</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    {% for item in achievements %}
    <tr>
        <td style="color:#363636">{{item['hero_id']}}</td>
        <td style="color:#363636">{{item['hero_name']}}</td>
        <td style="color:#363636">{{item['description']}}</td>
        <td style="color:#363636">{{item['earned_count']}}</td>
        <td style="color:#363636">{{item['category']}}</td>
        <td>
            <form id="formach{{item.id}}" action="/achievement/category" method="post">
                <input type="hidden" name="achievement_id" value="{{item.id}}"/>
            </form>
        </td>
        <td>
            <select name="category" form="formach{{item.id}}">
              {% for category in achievement_categories %}
                <option value="t_{{category.id}}">{{category.name}}</option>
              {% endfor %}
            </select>
        </td>
        <td>
            <input class="button is-block is-info is-small is-danger"
                   form="formach{{item.id}}"
                   type="submit"
                   name="up"
                   value="Change category"/>
        </td>
        <td>
            <a class="button is-link is-success is-small" href="/achievement/edit/{{item['id']}}">Edit</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br/>
<h2 align="left">Danger Zone</h2>
<br/>

<form method="POST" action="/league/create">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Create a new League</td>
            <td>
                <div class="control">
                    <input class="input is-small" name="league_name" placeholder="League name">
                </div>
            </td>
            <td>
                <div class="control">
                    <input class="input is-small" name="credit" placeholder="Add credit">
                </div>
            </td>
            <td>
                <button class="button is-block is-info is-small is-fullwidth">Create</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="POST" action="/admin/coins">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Add PnKoins</td>
            <td>
                <div class="control">
                    <input class="input is-small" name="credit" placeholder="PnKoins">
                </div>
            </td>
            <td>
                <button class="button is-block is-info is-small is-fullwidth">Add PnKoins to Everyone</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="POST" action="/admin/fantasy">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Update Fantasy Values</td>
            <td>
                <div class="control">
                    <input class="input is-small" name="json" placeholder="JSON">
                </div>
            </td>
            <td>
                <button class="button is-block is-info is-small is-fullwidth">Submit</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="POST" action="/admin/fantasy/rewards">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Add Prizes</td>
            <td>
                <div class="control">
                    <input class="input is-small" name="rewards" placeholder="JSON">
                </div>
            </td>
            <td>
                <button class="button is-block is-info is-small is-fullwidth">Submit</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="POST" action="/admin/fantasy/player">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Add New Player to Fantasy</td>
            <td>
                <div class="control">
                    <input class="input is-small" name="player" placeholder="JSON">
                </div>
            </td>
            <td>
                <button class="button is-block is-info is-small is-fullwidth">Submit</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="POST" action="/admin/evaluate">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Evaluate some Achievements</td>
            <td>
                <button class="button is-block is-danger is-small is-fullwidth">Evaluate achievements</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="POST" action="/admin/fantasy/refund">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Refund All Fantasy Cards</td>
            <td>
                <div class="control">
                    <input class="input is-small" name="starting_value" placeholder="Starting coins">
                </div>
            </td>
            <td>
                <button class="button is-block is-danger is-small is-fullwidth">Refund all</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<form method="POST" action="/admin/regulate">
    <table class="table table-striped table-responsive table-bordered is-fullwidth has-text-left">
        <tbody>
        <tr>
            <td>Regulate earnings</td>
            <td>
                <button class="button is-block is-danger is-small is-fullwidth">Regulate all</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>


{% endblock %}