<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PnKasino</title>
    <link rel="icon" href="https://raw.githubusercontent.com/bsguedes/pnkasino/master/img/pnkoins.png">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

    <style>
    .progress::-webkit-progress-value {
      transition: width 0.5s ease;
    }
    .button.non-interactive {
      pointer-events: none;
      box-shadow: none;
    }
    .button__badge {
      background-color: #fa3e3e;
      border-radius: 8px;
      color: white;

      padding: 0px 6px 0px 6px;
      font-size: 9px;

      position: absolute;
      top: 2px;
      left: 25px;
    }
    .relative__badge {
      background-color: #fa3e3e;
      border-radius: 8px;
      color: white;

      padding: 1px 6px 2px 5px;
      font-size: 9px;

      position: relative;
      bottom: 10px;
      left: 0px;
    }
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
    </style>
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

  // Check for click events on the navbar burger icon
  $(".navbar-burger").click(function() {

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
});


</script>

<section class="hero is-primary is-fullheight has-background-black has-text-grey-lighter">
    <div class="hero-head">
        <nav class="navbar">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <a href="{{ url_for('main.index') }}">
                        <img src="https://raw.githubusercontent.com/bsguedes/pnkasino/master/img/pnkoins.png" width="28"
                             height="28">
                        {% if current_user.is_authenticated and current_user.notification_text() is not none %}
                        <span aria-hidden="true" class="button__badge has-text-weight-bold">{{ current_user.notification_text() }}</span>
                        {% endif %}
                    </a>
                </div>
                {% if current_user.is_authenticated %}
                <div class="navbar-item">
                    <h3 id="coinsHeader" class="has-text-weight-bold">{{current_user.pnkoins}} ₭</h3>
                </div>
                <div class="navbar-item">
                    <h3 class="has-text-weight-bold">{{current_user.fcoins}} ƒ</h3>
                </div>
                {% endif %}
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu has-background-black">
                <div class="navbar-end has-background-black">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('prfl.index', user_id=current_user.id) }}" class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                              <i class="fas fa-user"></i>
                            </span>
                            <span>Perfil</span>
                        </span>
                        {% if current_user.unread_scraps() > 0 %}
                        <span class="button__badge has-text-weight-bold">{{ current_user.unread_scraps() }}</span>
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                              <i class="fas fa-home"></i>
                            </span>
                            <span>Início</span>
                        </span>
                    </a>
                    {% endif %}
                    <a href="{{ url_for('book.index') }}" class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-book"></i>
                            </span>
                            <span>Doteiros Anônimos</span>
                        </span>
                        {% if current_user.is_authenticated and current_user.unread_messages() > 0 %}
                        <span class="button__badge has-text-weight-bold">{{ current_user.unread_messages() }}</span>
                        {% endif %}
                    </a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.bets') }}" class="navbar-item has-text-weight-bold">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-dice"></i>
                            </span>
                            <span>Apostas</span>
                        </span>
                        {% if current_user.open_bets_count() > 0 %}
                        <span class="button__badge has-text-weight-bold">{{ current_user.open_bets_count() }}</span>
                        {% endif %}
                    </a>
                    <a href="{{ url_for('roulette.index') }}" class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-sun"></i>
                            </span>
                            <span>Roleta</span>
                        </span>
                    </a>
                    <a href="{{ url_for('fantasy.index') }}" class="navbar-item has-text-weight-bold">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-clipboard"></i>
                            </span>
                            <span>Fantasy</span>
                        </span>
                        {% if current_user.can_recruit() %}
                        <span class="button__badge has-text-weight-bold">!</span>
                        {% endif %}
                    </a>
                    {% if current_user.is_admin_user() %}
                    <a href="{{ url_for('admin.index') }}" class="navbar-item">
                    <span class="icon-text">
                        <span class="icon">
                          <i class="fas fa-cog"></i>
                        </span>
                        <span>Admin</span>
                    </span>
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>Login</span>
                        </span>
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            <span>Cadastrar</span>
                        </span>
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>Logout</span>
                        </span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% if current_user.is_authenticated %}

            <a href="{{ url_for('main.history') }}">
                Histórico
            </a>
            |
            <a href="{{ url_for('main.ranking') }}">
                Classificação
            </a>
            |
            <a href="{{ url_for('main.stats') }}">
                Estatísticas
            </a>
            |
            <a href="{{ url_for('main.pool') }}">
                Hero Pool
                {% if current_user.unseen_achievements() > 0 %}
                <span class="relative__badge has-text-weight-bold">{{ current_user.unseen_achievements() }}</span>
                {% endif %}
            </a>
            <br/>
            <br/>

            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>