<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PnKasino</title>
    <link rel="icon" href="https://raw.githubusercontent.com/bsguedes/pnkasino/master/img/pnkoins.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>

    <style>
    .progress::-webkit-progress-value {
      transition: width 0.5s ease;
    }
    .button.non-interactive {
      pointer-events: none;
      box-shadow: none;
    }
    .button__badge {
      background-color: #fa3e3e;
      border-radius: 2px;
      color: white;

      padding: 1px 3px;
      font-size: 10px;

      position: absolute;
      top: 0;
      left: 10px;
    }
    </style>
</head>

<body>
<section class="hero is-primary is-fullheight has-background-black has-text-grey-lighter">
    <div class="hero-head">
        <nav class="navbar">
            <div id="navbarMenuHeroA" class="navbar-menu is-active has-background-black">
                <div class="navbar-end has-background-black">
                    {% if current_user.is_authenticated %}
                    <h2 id="coinsHeader" class="has-text-weight-bold navbar-item">{{current_user.pnkoins}} PnKoins</h2>
                    <h2 class="has-text-weight-bold navbar-item">{{current_user.fcoins}} Éficoins</h2>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('prfl.index', user_id=current_user.id) }}" class="navbar-item">
                        Perfil
                        {% if current_user.unread_scraps() > 0 %}
                        <span class="button__badge">{{ current_user.unread_scraps() }}</span>
                        {% endif %}
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Início
                    </a>
                    {% endif %}
                    <a href="{{ url_for('book.index') }}" class="navbar-item">
                        Doteiros Anônimos
                        {% if current_user.is_authenticated and current_user.unread_messages() > 0 %}
                        <span class="button__badge">{{ current_user.unread_messages() }}</span>
                        {% endif %}
                    </a>
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('main.bets') }}" class="navbar-item has-text-weight-bold">
                        Apostas
                        {% if current_user.open_bets_count() > 0 %}
                        <span class="button__badge">{{ current_user.open_bets_count() }}</span>
                        {% endif %}
                    </a>
                    <a href="{{ url_for('roulette.index') }}" class="navbar-item">
                        Roleta
                    </a>
                    <a href="{{ url_for('fantasy.index') }}" class="navbar-item has-text-weight-bold">
                        Fantasy
                        {% if current_user.can_recruit() %}
                        <span class="button__badge">!</span>
                        {% endif %}
                    </a>
                    {% if current_user.is_admin_user() %}
                    <a href="{{ url_for('admin.index') }}" class="navbar-item">
                        Admin
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                        Cadastrar
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Logout
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% if current_user.is_authenticated %}

            <a href="{{ url_for('main.history') }}">
                Histórico
            </a>
            |
            <a href="{{ url_for('main.ranking') }}">
                Classificação
            </a>
            |
            <a href="{{ url_for('main.stats') }}">
                Estatísticas
            </a>
            |
            <a href="{{ url_for('main.pool') }}">
                Hero Pool
            </a>
            <br/>
            <br/>

            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>