<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            <div class="notification is-danger">
               {{ message }}
            </div>
        {% else %}
            <div class="notification is-success">
               {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}


<h1 class="title">
  Fantasy PnK
</h1>

<br/>

<h1 class="title">Time Atual</h1>

Você pode ter até 1 jogador Prata e 1 jogador Ouro. Eles custam mais caro mas dão mais pontos ao final do mês.

<br/>

<div class="tile is-ancestor">
    {% for card in current_cards %}
    <div class="tile is-parent is-2">
        <div class="tile is-child notification box {{card['color']}}">
          <form id="formsell{{card.id}}" action="/fantasy/sell" method="post"><input type="hidden" name="id" value="{{card.id}}"/></form>
          <p class="title is-6 has-text-dark">{{card['position']}}</p>
          <p class="title is-5 has-text-dark">{{card['name']}}</p>
          <img src="https://raw.githubusercontent.com/bsguedes/pnkasino/master/img/{{card['name']}}.jpg"
             alt="{{card['name']}}" width="80" height="80">
            <br/>
          <p class="title is-7 has-text-dark">Comprado por: {{card['buy_value']}} ₭</p>
          <p class="title is-7 has-text-dark">Valor atual: {{card['current_value']}} ₭</p>
            {% if transfer_window_open %}
          <button class="button is-danger is-small" form="formsell{{card.id}}" type="submit" name="sell">
            Vender por {{card['sell_value']}} ₭
          </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="tile is-ancestor">
    {% for card in silver_upgrades %}
    <div class="tile is-parent is-2">
        <div class="tile is-child notification box has-background-grey-light">
          <form id="formsilver{{card.id}}" action="/fantasy/silver" method="post"><input type="hidden" name="id" value="{{card.id}}"/></form>
            <p class="title is-5 has-text-dark">{{card['cost']}} ₭</p>
            {% for perk in card['perks'] %}
                <p class="title is-7 has-text-dark">{{perk}}</p>
            {% endfor %}
            {% if card['can_upgrade'] %}
          <button class="button is-success is-small" form="formsilver{{card.id}}" type="submit" name="silver">
            Prata por {{card['cost']}} ₭
          </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="tile is-ancestor">
    {% for card in gold_upgrades %}
    <div class="tile is-parent is-2">
        <div class="tile is-child notification box is-warning">
          <form id="formgold{{card.id}}" action="/fantasy/gold" method="post"><input type="hidden" name="id" value="{{card.id}}"/></form>
            <p class="title is-5 has-text-dark">{{card['cost']}} ₭</p>
            {% for perk in card['perks'] %}
                <p class="title is-7 has-text-dark">{{perk}}</p>
            {% endfor %}
            {% if card['can_upgrade'] %}
          <button class="button is-success is-small" form="formgold{{card.id}}" type="submit" name="gold">
            Ouro por {{card['cost']}} ₭
          </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% for i in range(5) %}

<br/>
<h2 class="subtitle">{{titles[i].title()}}</h2>

{% for chunk in available_cards[i+1] %}

<div class="tile is-ancestor">
    {% for card in chunk %}
    <div class="tile is-parent is-2">
        <div class="tile is-child notification box is-dark">
          <form id="formfantasy{{card.id}}" action="/fantasy/buy" method="post"><input type="hidden" name="id" value="{{card.id}}"/></form>
          <p class="title is-6">{{card['position']}}</p>
          <p class="title is-5">{{card['name']}}</p>
            <img src="https://raw.githubusercontent.com/bsguedes/pnkasino/master/img/{{card['name']}}.jpg"
             alt="{{card['name']}}" width="80" height="80">
          <br/>
          <p class="title is-5">{{card['current_value']}} ₭</p>
          {% if card['state'] == 'buy' %}
            <button class="button is-success is-small" form="formfantasy{{card.id}}" type="submit" name="buy">
              Comprar por {{card['current_value']}} ₭
            </button>
          {% elif card['state'] == 'owned' %}
            <p class="title is-7">Você já possui essa carta</p>
          {% elif card['state'] == 'owned_player' %}
            <button class="button is-success is-small" disabled>Comprar por {{card['current_value']}} ₭</button>
            <p class="title is-7">Você já tem uma carta deste jogador</p>
          {% elif card['state'] == 'must_sell' %}
            <button class="button is-success is-small" disabled>Comprar por {{card['current_value']}} ₭</button>
            <p class="title is-7">Você já tem uma carta desta posição</p>
          {% elif card['state'] == 'no_funds' %}
            <button class="button is-success is-small" disabled>Comprar por {{card['current_value']}} ₭</button>
            <p class="title is-7">Sem fundos</p>
          {% elif card['state'] == 'blocked' %}
            <button class="button is-success is-small" disabled>Comprar por {{card['current_value']}} ₭</button>
            <p class="title is-7">Fora da janela de transferências</p>
          {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endfor %}

{% endfor %}

{% endblock %}