<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Histórico
</h1>

{% for league in leagues %}

<br/>
<h2 align="left">{{ league['name'] }}</h2>
<br/>

<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth">
    <thead>
        <tr>
            <th>Event</th>
            <th colspan="2">Your Bet</th>
            <th>Option 1</th>
            <th>Odds 1</th>
            <th>X</th>
            <th>Odds 2</th>
            <th>Option 2</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        {% for item in league['bets'] %}
        <tr>
           <td style="color:#363636">{{item['question']}}</td>
           <td style="color:#212121;font-weight:bold">{{item['option']}}</td>
           <td style="color:#212121;font-weight:bold">{{item['bet']}}</td>
           <td style="color:#363636">{{item['options'][0]['name']}}</td>
           <td style="color:#363636">{{item['options'][0]['odds']}}</td>
           <td style="color:#363636"><SPAN> X </SPAN></td>
           <td style="color:#363636">{{item['options'][1]['odds']}}</td>
           <td style="color:#363636">{{item['options'][1]['name']}}</td>
           <td style="color:#363636">{{item['result']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endfor %}

{% endblock %}