<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="notification is-success">
                       {{ message }}
                    </div>
                {% else %}
                    <div class="notification is-danger">
                       {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Senha">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Entrar</button>
        </form>
        <a href="{{ url_for('auth.forgot') }}"> Esqueceu a senha? </a>
    </div>
</div>
{% endblock %}