<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Hero Pool
</h1>

{% for group, items in achievements %}
<h2> {{ group }} </h2>
<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth has-text-left">
    <thead>
    <tr>
        <th>Herói</th>
        <th></th>
        <th>Descrição</th>
        <th>Jogadores</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td style="color:#212121;font-weight:bold;width:96px">
            <figure class="image is-16by9">
                <img src="https://raw.githubusercontent.com/bsguedes/pnkasino/master/heroes/{{item['hero_id']}}.jpg"/>
            </figure>
        </td>
        {% if item['has_earned'] %}
        <td style="color:#363636">{{item['hero_name']}}</td>
        <td style="color:#363636">{{item['description']}}</td>
        {% else %}
        <td style="color:#777777">{{item['hero_name']}}</td>
        <td style="color:#777777"><i>Não disponível</i></td>
        {% endif %}
        <td style="color:#363636">{{item['earned_count']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}