<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<div class="block">
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-third">
            <figure class="image is-128x128">
                <img class="is-rounded"
                     src="https://raw.githubusercontent.com/bsguedes/pnkasino/master/img/{{user['dota_name']}}.jpg">
            </figure>
        </div>
        <div class="column">
            <div class="block">
                <font size="6"><h2 align="left">{{ user['dota_name'] }}</h2></font>
            </div>
            <div class="block">
                <font size="3"><h6 align="left">{{ user['name'] }}</h6></font>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="block">
                <font size="3"><h2 align="left">{{ user['pnkoins']}} ₭</h2></font>
            </div>
            <div class="block">
                <font size="3"><h6 align="left">{{ user['fcoins']}} ƒ</h6></font>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="columns is-multiline is-mobile">
        <div class="column is-one-third">
            <block>
                <b>Hero Pool</b>
            </block>
        </div>
        <div class="column">
            <block>
                <b>Scrapbook</b>
            </block>
            <br/><br/>
            <block>
                <form method="POST" action="/book/create">
                    <div class="columns is-gapless is-multiline is-mobile">
                        <div class="column">
                            <input class="input is-small" name="book_message" placeholder="Mensagem" autofocus="">
                        </div>
                        <div class="column is-one-fifth">
                            <button class="button is-block is-info is-small is-fullwidth">Enviar</button>
                        </div>
                    </div>
                </form>
            </block>
        </div>
    </div>
</div>

{% endblock %}