<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Classificação
</h1>

<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth">
    <thead>
        <tr>
            <th>Posição</th>
            <th>Jogador</th>
            <th>PnKoins</th>
            <th>Rendimentos</th>
            <th>(em apostas)</th>
            <th>(na roleta)</th>
            <th>(no fantasy)</th>
            <th>Em apostas ativas</th>
        </tr>
    </thead>
    <tbody>
        {% for item in users %}
        <tr>
           <td style="color:#212121;font-weight:bold">{{item['position']}}</td>
           <td style="color:#363636">{{item['name']}}</td>
           <td style="color:#212121;font-weight:bold">{{item['pnkoins']}}</td>
            {% if item['total_earnings'] >= 0 %}
           <td style="color:#00ff00;font-weight:bold">{{item['total_earnings']}}</td>
            {% else %}
           <td style="color:#ff0000;font-weight:bold">{{item['total_earnings']}}</td>
            {% endif %}
            {% if item['earnings'] >= 0 %}
           <td style="color:#00ff00;font-weight:bold">{{item['earnings']}}</td>
            {% else %}
           <td style="color:#ff0000;font-weight:bold">{{item['earnings']}}</td>
            {% endif %}
            {% if item['roulette'] >= 0 %}
           <td style="color:#00ff00;font-weight:bold">{{item['roulette']}}</td>
            {% else %}
           <td style="color:#ff0000;font-weight:bold">{{item['roulette']}}</td>
            {% endif %}
            {% if item['fantasy'] >= 0 %}
           <td style="color:#00ff00;font-weight:bold">{{item['fantasy']}}</td>
            {% else %}
           <td style="color:#ff0000;font-weight:bold">{{item['fantasy']}}</td>
            {% endif %}
           <td style="color:#363636">{{item['betted']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}