<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Ranking
</h1>

<table class="table table-striped table-responsive table-bordered is-fullwidth">
    <thead>
        <tr>
            <th>Position</th>
            <th>Player</th>
            <th>PnKoins</th>
            <th>On Bet</th>
        </tr>
    </thead>
    <tbody>
        {% for item in users %}
        <tr>
           <td style="color:#212121;font-weight:bold">{{item['position']}}</td>
           <td style="color:#363636">{{item['name']}}</td>
           <td style="color:#212121;font-weight:bold">{{item['pnkoins']}}</td>
           <td style="color:#363636">{{item['betted']}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}