<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}

<h1 class="title">
    Estatísticas do Fantasy
</h1>

<table class="table is-narrow table-striped table-responsive table-bordered is-fullwidth has-text-left">
    <thead>
    <tr>
        <th>Manager</th>
        <th>Cotação Atual</th>
        <th>Custo do Time</th>
        <th>Hard Carry</th>
        <th>Mid</th>
        <th>Offlane</th>
        <th>Support</th>
        <th>Hard Support</th>
        <th>Lucros</th>
    </tr>
    </thead>
    <tbody>
    {% for player in fantasy_teams %}
    <tr>
        {% if player['profile_id'] is not none %}
        <td style="color:#212121;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['profile_id']) }}">{{player['name']}}</a>
        </td>
        {% else %}
        <td style="color:#212121;font-weight:bold">{{player['name']}}</td>
        {% endif %}
        <td style="color:#212121;font-weight:bold">{{player['current']}} ƒ</td>
        <td style="color:#212121;font-weight:bold">{{player['price']}} ƒ</td>

        {% if player['silver'] == 1 %}
            {% if player['hard_carry_profile_id'] is not none %}
                <td style="color:#999999;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['hard_carry_profile_id']) }}">{{player['hard_carry']}}</a></td>
            {% else %}
                <td style="color:#999999;font-weight:bold">{{player['hard_carry']}}</td>
            {% endif %}
        {% elif player['gold'] == 1 %}
            {% if player['hard_carry_profile_id'] is not none %}
                <td style="color:#FFCC00;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['hard_carry_profile_id']) }}">{{player['hard_carry']}}</a></td>
            {% else %}
                <td style="color:#FFCC00;font-weight:bold">{{player['hard_carry']}}</td>
            {% endif %}
        {% else %}
            {% if player['hard_carry_profile_id'] is not none %}
                <td style="color:#363636"><a href="{{ url_for('prfl.index', user_id=player['hard_carry_profile_id']) }}">{{player['hard_carry']}}</a></td>
            {% else %}
                <td style="color:#363636">{{player['hard_carry']}}</td>
            {% endif %}
        {% endif %}

        {% if player['silver'] == 2 %}
            {% if player['mid_profile_id'] is not none %}
                <td style="color:#999999;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['mid_profile_id']) }}">{{player['mid']}}</a></td>
            {% else %}
                <td style="color:#999999;font-weight:bold">{{player['mid']}}</td>
            {% endif %}
        {% elif player['gold'] == 2 %}
            {% if player['mid_profile_id'] is not none %}
                <td style="color:#FFCC00;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['mid_profile_id']) }}">{{player['mid']}}</a></td>
            {% else %}
                <td style="color:#FFCC00;font-weight:bold">{{player['mid']}}</td>
            {% endif %}
        {% else %}
            {% if player['mid_profile_id'] is not none %}
                <td style="color:#363636"><a href="{{ url_for('prfl.index', user_id=player['mid_profile_id']) }}">{{player['mid']}}</a></td>
            {% else %}
                <td style="color:#363636">{{player['mid']}}</td>
            {% endif %}
        {% endif %}

        {% if player['silver'] == 3 %}
            {% if player['offlane_profile_id'] is not none %}
                <td style="color:#999999;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['offlane_profile_id']) }}">{{player['offlane']}}</a></td>
            {% else %}
                <td style="color:#999999;font-weight:bold">{{player['offlane']}}</td>
            {% endif %}
        {% elif player['gold'] == 3 %}
            {% if player['offlane_profile_id'] is not none %}
                <td style="color:#FFCC00;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['offlane_profile_id']) }}">{{player['offlane']}}</a></td>
            {% else %}
                <td style="color:#FFCC00;font-weight:bold">{{player['offlane']}}</td>
            {% endif %}
        {% else %}
            {% if player['offlane_profile_id'] is not none %}
                <td style="color:#363636"><a href="{{ url_for('prfl.index', user_id=player['offlane_profile_id']) }}">{{player['offlane']}}</a></td>
            {% else %}
                <td style="color:#363636">{{player['offlane']}}</td>
            {% endif %}
        {% endif %}

        {% if player['silver'] == 4 %}
            {% if player['support_profile_id'] is not none %}
                <td style="color:#999999;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['support_profile_id']) }}">{{player['support']}}</a></td>
            {% else %}
                <td style="color:#999999;font-weight:bold">{{player['support']}}</td>
            {% endif %}
        {% elif player['gold'] == 4 %}
            {% if player['support_profile_id'] is not none %}
                <td style="color:#FFCC00;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['support_profile_id']) }}">{{player['support']}}</a></td>
            {% else %}
                <td style="color:#FFCC00;font-weight:bold">{{player['support']}}</td>
            {% endif %}
        {% else %}
            {% if player['support_profile_id'] is not none %}
                <td style="color:#363636"><a href="{{ url_for('prfl.index', user_id=player['support_profile_id']) }}">{{player['support']}}</a></td>
            {% else %}
                <td style="color:#363636">{{player['support']}}</td>
            {% endif %}
        {% endif %}

        {% if player['silver'] == 5 %}
            {% if player['hard_support_profile_id'] is not none %}
                <td style="color:#999999;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['hard_support_profile_id']) }}">{{player['hard_support']}}</a></td>
            {% else %}
                <td style="color:#999999;font-weight:bold">{{player['hard_support']}}</td>
            {% endif %}
        {% elif player['gold'] == 5 %}
            {% if player['hard_support_profile_id'] is not none %}
                <td style="color:#FFCC00;font-weight:bold"><a href="{{ url_for('prfl.index', user_id=player['hard_support_profile_id']) }}">{{player['hard_support']}}</a></td>
            {% else %}
                <td style="color:#FFCC00;font-weight:bold">{{player['hard_support']}}</td>
            {% endif %}
        {% else %}
            {% if player['hard_support_profile_id'] is not none %}
                <td style="color:#363636"><a href="{{ url_for('prfl.index', user_id=player['hard_support_profile_id']) }}">{{player['hard_support']}}</a></td>
            {% else %}
                <td style="color:#363636">{{player['hard_support']}}</td>
            {% endif %}
        {% endif %}

        {% if player['profit'] >= 0 %}
        <td style="color:#009900;font-weight:bold">{{player['profit']}} ƒ</td>
        {% else %}
        <td style="color:#ff0000;font-weight:bold">{{player['profit']}} ƒ</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>


<h1 class="title">
    Estatísticas das Apostas
</h1>

{% if empty %}

<h3 class="title">
    Não há estatísticas disponíveis no momento.
</h3>

{% endif %}

{% for categories in category_chunks %}

<div class="tile is-ancestor">
    {% for cat in categories %}
    <div class="tile is-parent is-4">
        <div class="tile is-child notification box is-link">
            <p class="title is-5">{{cat['name']}}</p>
            {% for opt in cat['options'] %}
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification box is-primary">
                    <p class="title is-6">{{opt['name']}}</p>
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Odds</p>
                                <p class="title is-6">{{opt['odds']}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Apostas</p>
                                <p class="title is-6">{{opt['betters']}}</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">PnKoins</p>
                                <p class="title is-6">{{opt['pnkoins']}} ₭</p>
                            </div>
                        </div>
                    </nav>
                </article>
            </div>
            {% endfor %}
            <p class="title is-6">Número de apostas: {{cat['bets']}}</p>
            <p class="title is-6">PnKoins: {{cat['pnkoins']}} ₭</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endfor %}

{% endblock %}